<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Employee</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="../static/css/bootstrap.css" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
      .sidebar-nav {
        padding: 9px 0;
      }
    </style>
    <link href="../static/css/bootstrap-responsive.css" rel="stylesheet">
    
  </head>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="#">EMPLOYEE DB</a>
          <div class="nav-collapse collapse">
            <p class="navbar-text pull-right">
                {% if current_user.is_authenticated() %}
                    <a href="{{ url_for('logout') }}" class="navbar-link">log out</a>
              {% else %}
               
              {% endif %}
            </p>
            <ul class="nav">
              <li class="active"><a href="#">Home</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

      <div class="container-fluid">
      <div class="row-fluid">
        <div class="span3">
          <div class="well sidebar-nav">
            <ul class="nav nav-list">
              <li class="nav-header">Action</li>
              <li><a href="{{ url_for('.show_all') }}">List</a></li>
              <li><a href="{{ url_for('.add_employee') }}">Add new</a></li>
              <li><a href="#">views</a></li>
              <li><a href="#">Delete</a></li>
              <li><a href="#">Edit</a></li>
              
            </ul>
         
        </div><!--/.well -->
        </div><!--/span-->
        <div class="span9">
          <div class="hero-unit">
            {% block body %}{% endblock %}
          </div>
          
          
        </div><!--/span-->
      </div><!--/row-->

      <hr>

      <footer>
        <p>&copy; Company 2012</p>
      </footer>

    </div><!--/.fluid-container-->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="../static/js/jquery.js"></script>
    <script src="../employee/static/js/bootstrap-transition.js"></script>
    <script src="../employee/static/js/bootstrap-alert.js"></script>
    <script src="../employee/static/js/bootstrap-modal.js"></script>
    <script src="../employee/static/js/bootstrap-dropdown.js"></script>
    <script src="../employee/static/js/bootstrap-scrollspy.js"></script>
    <script src="../employee/static/js/bootstrap-tab.js"></script>
    <script src="../employee/static/js/bootstrap-tooltip.js"></script>
    <script src="../employee/static/js/bootstrap-popover.js"></script>
    <script src="../employee/static/js/bootstrap-button.js"></script>
    <script src="../employee/static/js/bootstrap-collapse.js"></script>
    <script src="../employee/static/js/bootstrap-carousel.js"></script>
    <script src="../employee/static/js/bootstrap-typeahead.js"></script>
   
  </body>
</html>
