{% extends "base.html" %}
{% block body %}


 <center> <h2>Edit Employee Details</h2>
  <form action="" method=post>
<table>
  {% for field in form %}
    <tr>
        <th>{{ field.label }}</th>
        <td>{{ field }}</td>
        
        {% if field.errors %}
       <td>
        {% for error in field.errors %}
          <li>{{ error }}</li>
        {% endfor %}
        </td>
      {% endif %}
    </tr>
{% endfor %}
</table>

     <input type=submit value="update">
</form>
<script src="../static/js/jquery.js"></script>
<link rel="stylesheet" href="http://code.jquery.com/ui/1.9.0/themes/base/jquery-ui.css" />
<script>
    $(function() {
        $("#dob").datepicker({ dateFormat: "mm-dd-yy" });
        $("#doj").datepicker({ dateFormat: "mm-dd-yy" });
    });
</script>
{% endblock %}


