{% extends "base.html" %}
{% block body %}
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
<div class="rsec">
<div class="formcontent">
<center><h2>list of Employee</h2></center>
<table class="well"><tr>
		    <th style="width: 50px">Emp_Id</th>
            <th style="width: 200px">Employee Name</th>
            <th style="width: 200px"><strong>Email Id</strong></th>
            <th style="width: 200px"><strong>Mobile No.</strong></th>
			<th style="width: 200px"><strong>Action</strong></th>
        </tr>
	    {% for emp in emps %}
        <tr class="{{ entry_class }}">
            <td>{{emp._id}}</td>
			<td>{{emp.empname}}</td>
            <td>{{emp.email}}</td>
            <td>{{emp.mobile}}</td>&nbsp;&nbsp;
            <td>
                <a href="{{url_for('.show_deatails', employee=emp._id)}}">views</a>
            </td>
	
        </tr>
        {% endfor %}
    
    
</table>
</div>
</div>
{% endblock %}


