{% extends "base.html" %}
{% block body %}
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
<div class="rsec">
    <h2>Employee Details</h2>
    <div class="formcontent">
        <table class="well">
                <tr >
                    <th style="width: 160px">fields </th> 
                    <th style="width: 160px"> values</th>
                </tr>	
                <tr class="{{ entry_class }}">
                    <td>Emp_Id </td> 
                    <td> {{emps._id}}</td>
                </tr>
		        <tr>
                     <td>Employee Name </td>
                     <td>{{emps.empname}}</td>
                </tr>
                <tr>
                     <td>Father Name/td>
                     <td>{{emps.fathername}}</td>
                </tr>
                <tr>
                     <td>Mother Name</td>
                     <td>{{emps.mothername}}</td>
                </tr>
                <tr>
                     <td>Qualification</td>
                     <td>{{emps.qualification}}</td>
                </tr>
                <tr>
                    <td>Nationality</td>
                    <td> {{emps.nationality}}</td>
                </tr>
                <tr>
                    <td>Date of birth</td>
                    <td> {{emps.dob}}</td>
                </tr>
                <tr>
                    <td>Date of Join</td>
                    <td>{{emps.doj}}</td>
                </tr>
                <tr>
                    <td>Gender</td>
                    <td>{{emps.gender}}</td>
                </tr>
                <tr>
                    <td>Designation</td>
                    <td>{{emps.designation}}</td>
                </tr>
                <tr>
                    <td>Department</td>
                    <td>{{emps.department}}</td>
                </tr>
                <tr>
                    <td>Email Id</td>
                    <td>{{emps.email}}</td>
                </tr>
                <tr>
                    <td>Mobile No.</td>
                    <td> {{emps.mobile}}</td>
                </tr>
               
            
            
        </table>
    </div>
</div>
 <div class="rsec">
    <div class="formcontent">

        <table class="well">
                <tr >
                        <th style="width: 160px"><a href="{{url_for('employee.delete_employee', employee=emps._id)}}">Delete &nbsp;&nbsp;</a></th> 
                        <th style="width: 160px"><a href="{{url_for('employee.edit_employee', employee=emps._id)}}">Edit</a></th>
                </tr>
        </table>

    </div>
</div>


{% endblock %}


