{% extends "base.html" %}
{% block body %}
<script src="../static/js/jquery.js"></script>
<link rel="stylesheet" href="http://code.jquery.com/ui/1.9.0/themes/base/jquery-ui.css" />
 <center> <h2>Add Employee Details</h2>
  <form method=post action="">
<table>
  {% for field in form %}
    <tr>
        <th>{{ field.label }}</th>
        <td>{{ field }}</td>
        {% if field.errors %}
       <td>
        {% for error in field.errors %}
          <li>{{ error }}</li>
        {% endfor %}
        </td>
      {% endif %}
    </tr>
{% endfor %}
</table>

     <input type=submit value="Add">
  </form> <center>
 <script>
    $(function() {
        $("#dob").datepicker({ dateFormat: "mm-dd-yy" });
        $("#doj").datepicker({ dateFormat: "mm-dd-yy" });
    });
</script>

{% endblock %}


