{% extends "base.html" %}

{% block body %}
    {% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
  <h2>Login</h2>
  <form action="" method=post>
    <dl>
      <dt>Username:
      <dd><input type=text name=username>
      <dt>password:
      <dd><input type=password name=pwd>
      <dt>Remember Me:
      <dd><input type=checkbox name=remember value=yes>
      <dd><input type=submit value=Login>
    </dl>
  </form>
{% endblock %}
